<div class="article-bar">	
	<% function max(a, b) { %>
	<%	return (a>b) ? a : b;	%>
	<% } %>
	<% var start_index = 1; %>
	<% var postLength = site.posts.length; %>
    <% site.posts.each(function(post, i){ %>
    <% 	if(is_post() && post.title == page.title){ %>
   	<% 		start_index = i; %>
    <% 	} %>
    <% }); %>
	<% var start = max(start_index - 2,0); %>
	<% if(postLength - start_index < 3){ %>
	<% 	start -= 3 + start_index - postLength; %>
	<% } %>
	<% var count = 1; %>
    <% site.posts.each(function(post, i){ %>
    <% 	if((postLength >=5 && i !=start_index && i >= start && count <=5)||(postLength <5 && postLength >0 && i !=start_index)){ %>
			<ul class="article-bar-item">
			    <li>
			    	<div class="article-bar-sign"></div>
			    </li>
			    <li>
			    	<a href="<%- config.root %><%- post.path %>" class="article-bar-text" title="link to <%= post.title %>"><%= post.title %></a>
			    </li>
	    	</ul>
	<% 		count++; %>
	<%	}else if(i == start_index) {%>
			<ul class="article-bar-item">
			    <li>
			    	<div class="article-bar-sign-selected"></div>
			    </li>
			    <li>
			    	<a href="<%- config.root %><%- post.path %>" class="article-bar-text-selected" title="link to <%= post.title %>"><%= post.title %></a>
			    </li>
	    	</ul>
	<% 		count++; %>
	<%	} %>

    <% }); %>
	   

</div>