<div id="left-panel" class="left-panel">
	<canvas id="left-canvas"></canvas>
	<div class="header">
		<div class="title">
			<%  var title_str = config.title;%>
	        <%  var title_arr = title_str.match(/./g);%>
	        <%  for (var i in title_arr){%>
	        <%      if(title_arr[i]=='♠'){%>
	        <%          title_class = 'panel-title-leaf-S';%>
	        <%      }else{%>
	        <%            var random = Math.random()*4; %>
	        <%            if(random>=0 && random<1){ %>
	        <%              title_class = 'panel-title-leaf-SW'; %>
	        <%            } %>
	        <%            if(random>=1 && random<2){ %>
	        <%              title_class = 'panel-title-leaf-SE'; %>
	        <%            } %>
	        <%            if(random>=2 && random<3){ %>
	        <%              title_class = 'panel-title-leaf-NW'; %>
	        <%            } %>
	        <%            if(random>=3 && random<=4){ %>
	        <%              title_class = 'panel-title-leaf-NE'; %>
	        <%            } %>
	        <%      }%>	        
	                <li class="<%= title_class %>"><%= title_arr[i] %></li>
	        <%  } %>
		</div>
		<div class="info">
			<div class="content">
				<p>Winter</p>
				<p>Is Coming.</p>
			</div>
			<div class="picture">
				<img src="/images/dota2.jpg">
			</div>
		</div>		
	</div>	
	<div id="leftbody" class="leftbody">
		<% if (theme.nav && theme.nav.length) { %>
	      <% theme.nav.forEach(function(list) { %>
	        <ul class="nav">
	          <% list.forEach(function(item){ %>
	            <% if (item === 'categories') { %>
	              <li class="category-list-container">
	                <a href="javascript:;"><%- __('category') %></a>
	                <%- list_categories({depth: -1}) %>
	              </li>
	            <% } else if (item === 'tags') { %>
	              <li class="tag-list-container">
	                <a href="javascript:;"><%- __('tag') %></a>
	                <%- list_tags({}) %>
	              </li>
	            <% } else if (item === 'archives') { %>
	              <li class="archive-list-container">
	                <a href="javascript:;"><%- __('archive') %></a>
	                <%- list_archives({type: 'yearly'}) %>
	              </li>
	            <% } else { %>
	              <li>
	                <%- link_to(item.url, item.name, {external: item.url.indexOf('http') === 0}) %>
	              </li>
	            <% } %>
	          <% }) %>
	        </ul>
	      <% }); %>
	    <% } %>
	</div>	
</div>